/*---------------------------------------
*   breake point
*---------------------------------------*/

//   breake point

$x-large: 1200px;
$large: 1024px;
$medium: 767px;
$small: 575px;
$x-small: 400px;